In [50]:
# import dependencies
import pandas as pd

In [51]:
student_data_to_load = 'Resources/students_complete.csv'
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61

In [52]:
# put the sstudent names in a list
student_names = student_data_df['student_name'].tolist()
student_names;

In [53]:
# split the student name and determine the length
students_to_fix = []

for name in student_names:
    if len(name.split()) >= 3:
        students_to_fix.append(name)
        
# get the length of the students list whose names are >= 3
len(students_to_fix)

1531

In [54]:
# add the prefixes less than or equal to 4 to a new list
prefixes = []

for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

# get the unique items in the prefixes list
set(prefixes)
# print prefixes
# print(prefixes);

{'Adam',
 'Amy',
 'Anna',
 'Anne',
 'Carl',
 'Chad',
 'Cody',
 'Cory',
 'Dale',
 'Dana',
 'Dawn',
 'Dr.',
 'Emma',
 'Eric',
 'Erik',
 'Erin',
 'Gail',
 'Gary',
 'Gina',
 'Greg',
 'Ian',
 'Jill',
 'Jodi',
 'Joe',
 'John',
 'Jon',
 'Jose',
 'Judy',
 'Kara',
 'Kari',
 'Kim',
 'Kyle',
 'Leah',
 'Lisa',
 'Lori',
 'Luke',
 'Lynn',
 'Marc',
 'Mark',
 'Mary',
 'Mike',
 'Miss',
 'Mr.',
 'Mrs.',
 'Ms.',
 'Noah',
 'Omar',
 'Paul',
 'Ruth',
 'Ryan',
 'Sara',
 'Sean',
 'Seth',
 'Tara',
 'Tina',
 'Todd',
 'Toni',
 'Tony',
 'Troy'}

In [55]:
# add the prefixes less than or equal to 4 to a new list
suffixes = []

for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])
        
# get the unique items in the suffixes list
set(suffixes)
# print prefixes
#print(suffixes)

{'Cox',
 'DDS',
 'DVM',
 'Day',
 'II',
 'III',
 'IV',
 'Jr.',
 'Kim',
 'Lee',
 'Li',
 'MD',
 'PhD',
 'Roy',
 'V'}

In [66]:
# add each prefix and suffix to remove to a list
prefixes_suffixes = ['Dr. ', 'Mr. ', 'Ms. ', 'Mrs. ', 'Miss. ', ' MD', ' DDS', ' DVM', ' PhD']

In [67]:
# iterate through the prefixes_suffixes list and repalace them with an ''
for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word, '')

/var/folders/th/3nbb7p4d0xx5r6k63vgmgjtm0000gn/T/ipykernel_20010/3204556279.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df['student_name'] = student_data_df['student_name'].str.replace(word, '')

In [68]:
student_data_df.head(15)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67

In [69]:
# put the cleaned student names in another list
student_names = student_data_df['student_name'].tolist()
len(student_names)

39170

In [70]:
# studnets fixed
students_fixed = []

# check the lengthof the name
for name in student_names:
    if len(name.split()) >= 3:
        students_fixed.append(name)
        
# get the length of the student names that are >= 3
len(students_fixed)

151