In [1]:
import pandas as pd
import os

In [4]:
# list of high schools
high_schools = [
    "Hernandez High School", 
    "Figueroa High School", 
    "Willson High Scool"
]

In [5]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Willson High Scool

In [8]:
# a dictionary of high schools
high_school_types = [
    {"High School": "Griffin", "Type": "District"},
    {"High School": "Figueroa", "Type": "District"},
    {"High School": "Willson", "Type": "Charter"},
    {"High School": "Wright", "Type": "Charter"}
]

In [9]:
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Willson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [10]:
# create a pandas Series from a Python list
school_series = pd.Series(high_scholls)
school_series

0    Hernandez High School
1     Figueroa High School
2        Willson High Scoo
dtype: object

In [12]:
# a dictionary of high schools
high_shcool_dicts = [
    {"School Id": 0, "school_name": "Huang High School", "type": "Dicstricr"},
    {"School Id": 1, "school_name": "Figueroa High School", "type": "Dicstricr"},
    {"School Id": 2, "school_name": "Shelton High School", "type": "charter"},
    {"School Id": 3, "school_name": "Hernandez High School", "type": "Dicstricr"},
    {"School Id": 4, "school_name": "Griffin High School", "type": "Charter"},
]

In [13]:
# DataFrame
school_df = pd.DataFrame(high_shcool_dicts)
school_df

   School Id            school_name       type
0          0      Huang High School  Dicstricr
1          1   Figueroa High School  Dicstricr
2          2    Shelton High School    charter
3          3  Hernandez High School  Dicstricr
4          4    Griffin High School    Charter

In [14]:
# index, columns, and values of a DataFrame
school_df.columns

Index(['School Id', 'school_name', 'type'], dtype='object')

In [15]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
school_df.values

array([[0, 'Huang High School', 'Dicstricr'],
       [1, 'Figueroa High School', 'Dicstricr'],
       [2, 'Shelton High School', 'charter'],
       [3, 'Hernandez High School', 'Dicstricr'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [17]:
school_df.values[-1]

array([4, 'Griffin High School', 'Charter'], dtype=object)

In [21]:
print('Name of High Schools:\n--------------------')
for value in school_df.values:
    print(value[1].split()[0].upper())

Name of High Schools:
--------------------
HUANG
FIGUEROA
SHELTON
HERNANDEZ
GRIFFIN

In [22]:
school_id = list(range(15))
school_id

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [24]:
hs = ['Huang', 'Gigueroa', 'Shelton', 'Hernandez', 'Griffin', 'Wilson', 'Cabrera', 
      'Bailey','Holden', 'Pena', 'Wright', 'Rodreguez', 'Johnson', 'Ford', 'Thomas']
school_name = [school + ' High School' for school in hs]
school_name

['Huang High School',
 'Gigueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodreguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [25]:
school_type = ['District', 'District', 'Charter', 'District', 'Charter', 'Charter',
               'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District',
              'District', 'District', 'Charter']
school_type

['District',
 'District',
 'Charter',
 'District',
 'Charter',
 'Charter',
 'Charter',
 'District',
 'Charter',
 'Charter',
 'Charter',
 'District',
 'District',
 'District',
 'Charter']

In [38]:
hs_df = pd.DataFrame(
    {
        'school_id': school_id, 
        'school_name': school_name,
        'school_type': school_type
    }
)
hs_df.head(2)

   school_id           school_name school_type
0          0     Huang High School    District
1          1  Gigueroa High School    District