In [433]:
# add the dependencies
import pandas as pd
import os

In [434]:
# files to load
school_data_to_load = os.path.join("Resources/", "schools_complete.csv")
student_data_to_load = os.path.join("Resources/", "students_complete.csv")

In [435]:
# read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [436]:
# read the students data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [437]:
# determine if there are any missing vallues in the school data
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [438]:
# determine if there are any missing vallues in the students data
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [439]:
# isnull to check for missing values in the school data
school_data_df.isnull().sum()

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [440]:
# isnull to check for missing values in the student data
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [441]:
# notnull
school_data_df.notnull().sum()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [442]:
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [443]:
# determine date types for the school DataFrmae
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [444]:
# determine date types for the student DataFrmae
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [445]:
# add each prefix and suffix to remove to a list
prefixes_suffixes = [
    'Dr. ', 'Mr. ', 'Ms. ', 'Mrs. ', 'Miss. ', 
    ' MD', ' DDS', ' DVM', ' PhD']

In [446]:
# replace the words in the prefixes_suffixes with ''
for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word, '')

/var/folders/th/3nbb7p4d0xx5r6k63vgmgjtm0000gn/T/ipykernel_18889/1975663036.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df['student_name'] = student_data_df['student_name'].str.replace(word, '')

In [447]:
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [448]:
# merge dataFrames

# combine the data into a single dataset
school_data_complete_df = pd.merge(
    student_data_df, school_data_df, on=['school_name', 'school_name'])

school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [449]:
# get the total number of students
student_count = school_data_complete_df['Student ID'].count()
student_count

39170

In [450]:
# calculate the total number of schools
school_count = school_data_df['school_name'].count()
school_count

15

In [451]:
# unique schools from school_data_complete
school_count2 = school_data_complete_df['school_name'].unique()
len(school_count2)

15

In [452]:
len(school_data_complete_df['school_name'].unique())

15

In [453]:
# calculate the total budget
total_budget = school_data_complete_df['budget'].unique().sum()
total_budget

24649428

In [454]:
school_data_df['budget'].sum()

24649428

In [455]:
average_scores = school_data_complete_df[['reading_score', 'math_score']].mean()
print(average_scores.values)

[81.87784018 78.98537146]

In [456]:
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >= 70]
passing_math.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635

In [457]:
passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >= 70]
passing_reading.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635

In [458]:
# get the total number of students
student_count = school_data_complete_df['Student ID'].count()
student_count

39170

In [459]:
# get the number of students passing math
passing_math_count = passing_math['student_name'].count() #len(passing_math)
passing_math_count

29370

In [460]:
# average math score
average_math_score = school_data_complete_df['math_score'].mean()
average_math_score

78.98537145774827

In [461]:
# get the number of students passing reading
passing_reading_count = passing_reading['student_name'].count()
passing_reading_count

33610

In [462]:
# average reading score
average_reading_score = school_data_complete_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [463]:
passing_math_percentage = passing_math_count / student_count * 100
passing_math_percentage

74.9808526933878

In [464]:
passing_reading_percentage = passing_reading_count / student_count * 100
passing_reading_percentage

85.80546336482001

In [465]:
# students who passed both reading and math
reading_index = school_data_complete_df['reading_score'] >= 70
math_index = school_data_complete_df['math_score'] >= 70
passing_reading_math = school_data_complete_df.loc[reading_index & math_index]

In [466]:
passing_reading_math.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
15,15,Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635

In [467]:
# the number of students who passed both reading and math
overall_passing_reading_math = passing_reading_math['student_name'].count()
overall_passing_reading_math

25528

In [468]:
# calculte the overall passing peercentage
overall_passing_percentage = overall_passing_reading_math / student_count * 100
overall_passing_percentage

65.17232575950983

## Districr Summary DataFrame

In [469]:
# adding a list of values with keys to create a new DataFrame
district_summary_df = pd.DataFrame(
    [
        {
            'Total Schools': school_count,
            'Total Students': student_count,
            'Total Budget': total_budget,
            'Average Math Score': average_math_score,
            'Average Reading Score': average_reading_score,
            '% Passing Math': passing_math_percentage,
            '% Passing Reading': passing_reading_percentage,
            '% Overall passing': overall_passing_percentage
        }
        
    ]
)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [470]:
# define a function that calcualtes the percentage of students who passed both
# math and reading
def passing_reading_math_percent(pass_read_count, pass_math_count, student_count):
    return pass_read_count / student_count * 100, pass_math_count / student_count * 100

In [471]:
passing_reading_math_percent(passing_reading_count, passing_math_count, student_count)

(85.80546336482001, 74.9808526933878)

In [472]:
grades = [45, 67, 56]
ser = pd.Series(grades)
ser

0    45
1    67
2    56
dtype: int64

In [473]:
district_summary_df['Total Students'] = district_summary_df['Total Students'].map('{:,}'.format)
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map('${:,}'.format)
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map('{:.1f}'.format)
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map('{:.1f}'.format)
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map('{:.0f}%'.format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map('{:.0f}%'.format)
district_summary_df['% Overall passing'] = district_summary_df['% Overall passing'].map('{:.0f}%'.format)

In [474]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing
0,15,"39,170","$24,649,428",79.0,81.9,75%,86%,65%